### Import necessary modules

In [1]:
import numpy as np 
import pandas as pd 
import math

### Reading data

In [2]:
stdata = pd.read_csv("studentdata.csv")

stdata.head()

,First Name,Last Name,City,State,Zip Code,DOB [DD/MM/YYYY],Age,Gender,Email Address,Contact Number,...,Programming Language Known other than Java (one major),Have you worked on MySQL or Oracle database,Have you studied OOP Concepts,Certifications/Achievement/ Research papers,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],Link to updated Resume (Google/ One Drive link preferred),link to Linkedin profile,How Did You Hear About This Internship?,Label
0,Barron,Harnes,Kolhapur,Maharashtra,416004,24/09/2000,19,Male,bharnes0@harvard.edu,6345186600,...,HTML/CSS,Yes,No,NaN,6,10,NaN,NaN,Twitter,ineligible
1,Velma,Allone,Pune,Maharashtra,411011,23/10/1997,22,Female,vallone1@i2i.jp,2808753102,...,PHP,No,Yes,NaN,10,7,NaN,NaN,Ex/Current Employee,eligible
2,Thibaut,Scotland,Mumbai,Maharashtra,400059,6/2/1996,24,Male,tscotland2@opensource.org,2945231918,...,C,No,No,NaN,8,6,NaN,NaN,Twitter,ineligible
3,Retha,Proud,Solapur,Maharashtra,413224,26/12/1999,20,Female,rproud3@flavors.me,7507196200,...,PHP,No,Yes,NaN,9,6,NaN,NaN,Twitter,ineligible
4,Del,Pearse,Sangli,Maharashtra,416436,21/09/1996,23,Female,dpearse4@sakura.ne.jp,6643884281,...,Python,No,Yes,NaN,8,6,NaN,NaN,Facebook,ineligible

### Data Wrangling

In [3]:
stdata.drop(['Certifications/Achievement/ Research papers','Link to updated Resume (Google/ One Drive link preferred)','link to Linkedin profile','How Did You Hear About This Internship?'],axis=1,inplace=True)

In [4]:
stdata.drop(['First Name','Last Name','City','State','Zip Code','DOB [DD/MM/YYYY]','Gender','Email Address',
             'Contact Number','Emergency Contact Number','College name','University Name',],axis=1,inplace=True)

In [5]:
degree = pd.get_dummies(stdata['Degree'],drop_first = True)
areaofstudy = pd.get_dummies(stdata['Major/Area of Study'])
year = pd.get_dummies(stdata['Which-year are you studying in?'],drop_first = True)

In [6]:
def rating_function(x):
    if x == "yes":
        return 1
    else:
        return 0
stdata["java"] = stdata["Have you worked core Java"].apply(rating_function)

In [7]:
lan = pd.get_dummies(stdata['Programming Language Known other than Java (one major)'])

In [8]:
def rating_function(x):
    if x == "yes":
        return 1
    else:
        return 0
stdata["sql"] = stdata["Have you worked on MySQL or Oracle database"].apply(rating_function)

In [9]:
def rating_function(x):
    if x == "yes":
        return 1
    else:
        return 0
stdata["oops"] = stdata["Have you studied OOP Concepts"].apply(rating_function)

In [10]:
def rating_function(x):
    if x == "yes":
        return 1
    else:
        return 0
stdata["py3"] = stdata["Programming Language Known other than Java (one major)"].apply(rating_function)

In [11]:
interest = pd.get_dummies(stdata['Areas of interest'],drop_first=True)
stdata = pd.concat([stdata,degree,areaofstudy,year,lan,interest],axis = 1)

In [12]:
stdata.drop(['Degree','Major/Area of Study', 'Course Type', 'Which-year are you studying in?','Areas of interest','Current Employment Status', 'Have you worked core Java',
       'Programming Language Known other than Java (one major)','Have you worked on MySQL or Oracle database',
       'Have you studied OOP Concepts','Python'],axis = 1, inplace = True)

In [13]:
select = pd.get_dummies(stdata['Label'],dtype = int)
stdata = pd.concat([stdata,select],axis = 1)

In [14]:
stdata = stdata.drop(['ineligible','Label'],axis = 1)

In [15]:
stdata.head()

,Age,CGPA/ percentage,Expected Graduation-year,Rate your written communication skills [1-10],Rate your verbal communication skills [1-10],java,sql,oops,py3,B.Tech,...,Digital Marketing,Information Security,IoT,Machine Learning,Mobility,Python,QMS/Testing,RPA,Web Development,eligible
0,19,7.26,2022,6,10,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,22,8.73,2020,10,7,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2,24,8.61,2020,8,6,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,20,7.96,2022,9,6,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
4,23,7.07,2023,8,6,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

### Dividing dataset in test and train

In [16]:
X = stdata.drop('eligible',axis = 1) 
y = stdata['eligible']

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

### Appling svc algorithm

In [19]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [20]:
from sklearn.svm import SVC

In [21]:
clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))

In [22]:
clf.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('standardscaler',
                 StandardScaler(copy=True, with_mean=True, with_std=True)),
                ('svc',
                 SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
                     decision_function_shape='ovr', degree=3, gamma='auto',
                     kernel='rbf', max_iter=-1, probability=False,
                     random_state=None, shrinking=True, tol=0.001,
                     verbose=False))],
         verbose=False)

In [23]:
prediction = clf.predict(X_test)

### Classification report

In [24]:
from sklearn.metrics import classification_report 
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report
from sklearn.metrics import f1_score

In [25]:
classification_report(y_test,prediction)

'              precision    recall  f1-score   support\n\n           0       0.93      0.95      0.94      1796\n           1       0.92      0.89      0.90      1204\n\n    accuracy                           0.92      3000\n   macro avg       0.92      0.92      0.92      3000\nweighted avg       0.92      0.92      0.92      3000\n'

In [26]:
f1_score(y_test, prediction,average = None)

array([0.93777533, 0.90456081])

In [27]:
k = confusion_matrix(y_test,y_test, labels=[1,0])
print(k)

[[1204    0]
 [   0 1796]]

In [28]:
accuracy_score(y_test,prediction)

0.9246666666666666

In [29]:
stdata.columns

Index(['Age', 'CGPA/ percentage', 'Expected Graduation-year',
       'Rate your written communication skills [1-10]',
       'Rate your verbal communication skills [1-10]', 'java', 'sql', 'oops',
       'py3', 'B.Tech', 'Computer Engineering', 'Electrical Engineering',
       'Electronics and Telecommunication', 'Fourth-year', 'Second-year',
       'Third-year', '.Net', 'C', 'C#', 'C++', 'HTML/CSS', 'JavaScript', 'PHP',
       'Big Data ', 'Blockchain ', 'Cloud Computing ', 'Cyber Security ',
       'Data Science ', 'DevOps ', 'Digital Marketing ',
       'Information Security', 'IoT ', 'Machine Learning', 'Mobility',
       'Python ', 'QMS/Testing ', 'RPA ', 'Web Development ', 'eligible'],
      dtype='object')